body {
  background-color: whitesmoke;
}

.info {
  font-size: 16px;
  color: purple;
  text-align: left;
  vertical-align: bottom;
  font-style: italic;
  font: weight 100px;
}

.akapit {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  word-spacing: normal;
  float: left;
  margin-top: 10;
  text-decoration: underline;
  white-space: normal;
  color: black;
}
.wiki {
  color: red;
  text-align: center;
  vertical-align: top;
  font-style: italic;
  font: weight 200px;
}
h3 {
  color: black;
  text-align: center;
  vertical-align: top;
  font-style: italic;
  font: weight 150px;
}